body{

    margin:0;

    background:#F4FBFF;

    font-family:Inter,sans-serif;

}

.header{

    max-width:1300px;

    margin:auto;

    padding:24px 32px;

    display:flex;

    justify-content:space-between;

    align-items:center;

}

.logo{

    display:flex;

    align-items:center;

    gap:14px;

}

.logo img{

    width:62px;

}

.logo h2{

    margin:0;

    color:#1565C0;

    font-size:34px;

}

.logo span{

    color:#666;

}

nav{

    display:flex;

    gap:40px;

}

nav a{

    text-decoration:none;

    color:#23395d;

    font-weight:600;

}

.language{

    padding:10px 18px;

    border-radius:12px;

    border:1px solid #D8E4F2;

    background:white;

    font-size:15px;

}