html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    background: #EEF4F8;
    font-family: Arial, sans-serif;
}

*{
    box-sizing: border-box;
}

:root{

    --container:1600px;

    --blue:#1565C0;
    --lightBlue:#21B5D8;

    --text:#173B67;


}

.container{

    width:min(1500px, calc(100% - 48px));

    margin:auto;

}